.sidebar {
    width: 200px;
    background-color: #f8f8fa;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    color: black;
}

.sidebar nav ul {
    list-style-type: none;
    padding: 0;
}

.sidebar nav ul li {
    margin: 15px 0;
}

.nav-link {
    text-decoration: none;
    color: black;
    font-size: 12px;
    font-weight: 500;
    display: block;
    padding: 10px;
    padding-left: 20px;
    border-radius: 4px;
    transition: background-color 0.3s;
}

.nav-link:hover {
    background-color: #d6085ea8;
}

.logout-btn {
    background: none;
    border: none;
    color: black;
    font-size: 12px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.logout-btn:hover {
    background-color: #d6085ea8;
}

.active-link {
    background-color: #d6085e; /* Dark background for active link */
    color: white; /* White text color */
  }