

.kitchen-container {
    padding: 20px;
    background-color: #f4f4f4;
}

.kitchen-group {
    margin-bottom: 30px;
}

.kitchen-group-title {
    font-size: 14px;
    margin-bottom: 16px;
    padding-left: 8px;
    color: #2c3e50;
    border-left: 4px solid #d6085e;
}

.kitchen-items-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: flex-start;
}

.kitchen-item-card {
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    padding: 16px;
    width: 250px; /* fixed box width */
    transition: transform 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.kitchen-item-card:hover {
    transform: translateY(-3px);
}


.kitchen-item-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-quantity {
    font-weight: 600;
    color: #333;
    margin-right: 10px;
}

.item-name {
    flex: 1;
    font-size: 12px;
    font-weight: 500;
    color: #444;
}

.item-price {
    font-weight: bold;
    color: #28a745;
}
