/* styles.css */

body {
  margin: 0;
  padding: 0;
  /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
  font-family: 'Poppins', sans-serif !important;
  background: linear-gradient(to right, #396afc, #2948ff);
  /* background: linear-gradient(to right, #8e2de2, #4a00e0); */
  /* background: linear-gradient(to right, #f12711, #f5af19); */
  /* background: linear-gradient(to right, #141e30, #243b55); */
  /* background: linear-gradient(to right, #43cea2, #185a9d); */
  /* background: linear-gradient(to right, #00c9ff, #92fe9d); */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.form-box {
  background: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 12px 30px rgba(0, 0, 0, 0.2);
  width: 320px;
  text-align: center;
}

.form-box h2 {
  margin-bottom: 20px;
  color: #333;
}

.input-field {
  width: 92%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 12px;
  transition: border 0.3s;
}

.input-field:focus {
  border-color: #2575fc;
  outline: none;
}

.button {
  width: 100%;
  padding: 12px;
  background-color: #2575fc;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 10px;
}

.button:hover {
  background-color: #1a5ed9;
}

.link {
  margin-top: 15px;
  text-align: center;
  font-size: 12px;
  color: #555;
}

.link-action {
  color: #2575fc;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  transition: color 0.3s;
}

.link-action:hover {
  color: #1a5ed9;
  text-decoration: underline;
}

.error-text {
  color: red;
  font-size: 0.8rem;
  margin: 4px 0 10px;
}

.input-field.error {
  border: 1px solid red;
}
